{
    "extends": ["airbnb", "prettier"],
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "jest": true,
        "node": true
    },
    "globals": {
        "isDev": "readonly"
    },
    "rules": {
        "jsx-a11y/href-no-hash": ["off"],
        "react/jsx-filename-extension": ["off"],
        "import/no-extraneous-dependencies": [
            "error",
            {
                "devDependencies": true,
                "optionalDependencies": false,
                "peerDependencies": false
            }
        ],
        "import/no-unresolved": ["off"],
        "no-else-return": [
            "error",
            {
                "allowElseIf": true
            }
        ],
        "max-len": [
            "warn",
            {
                "code": 120,
                "tabWidth": 2,
                "comments": 120,
                "ignoreComments": false,
                "ignoreTrailingComments": true,
                "ignoreUrls": true,
                "ignoreStrings": true,
                "ignoreTemplateLiterals": true,
                "ignoreRegExpLiterals": true
            }
        ],
        "dot-notation": ["off"],
        "no-underscore-dangle": ["off"],
        "import/prefer-default-export": ["off"],
        "no-plusplus": ["off"],
        "react/react-in-jsx-scope": ["off"]
    }
}
